<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.fanzezhen.template.dao.SysRoleDao">
    <sql id="PoColumn">
        select sr.id,
               sr.role_name,
               sr.role_type,
               sr.del_flag,
               sr.description,
               sr.status,
               sr.create_time,
               sr.update_time,
               sr.create_user_id,
               sr.update_user_id
        from sys_role sr
    </sql>
    <select id="listByUserId" parameterType="java.lang.Long"
            resultType="com.github.fanzezhen.template.pojo.entry.SysRole">
        <include refid="PoColumn" />
        where id in (
        select sys_user_role.role_id
        from sys_user_role
        where user_id = #{userId}
        )
    </select>
</mapper>
